{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <p>Bonjour {{ user.username }}, vous êtes déja connectés, merci de revenir à la page d'accueil</p>


    {% else %}

        <p>Inscrivez-vous maintenant</p>
        <button><a href="{% url 'signup' %}">S'inscrire</a></button>


        <p>Connectez-vous</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" >Se connecter</button>
            <p>{{ message }}</p>
        </form>

    {% endif %}


{% endblock content %}
