{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <p>Bonjour {{ user.username }}, vous êtes déja connectés, Merci de revenir à la page d'accueil</p>


    {% else %}

        <p>Inscrivez-vous</p>
        {% if form.errors %}
            {{ form.errors }}
        {% endif %}
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button><a href="{% url 'login' %}">Retour</a></button>
            <button type="submit" >S’inscrire</button>
        </form>

    {% endif %}

{% endblock content %}
